# Converting from any base to any base without going through base 10

2023-04-24

# Table of Contents

This Notebook uses the [Table of Contents](https://jupyterlab.readthedocs.io/en/stable/user/toc.html) created automatically by Jupyter Notebook (or Goolge Colab).

# Introduction

The idea behind this algorithm is to perform calculations directly on the target base, without using base 10 for intermediate calculations.

For example, let's convert $11201_3$ in base 3 to the same number in base 7. The number $11201_3$ can be represented by:

$11201_3 = 1 \times 3^4 + 1 \times 3^3 + 2 \times 3^2 + 0 \times 3^1 + 1 \times 3^0$

Rearranging the right side of the above equation:

$((((1 \times 3 + 1) \times 3 + 2) \times 3 + 0) \times 3 + 1)$

Solving the equation manually and directly in base 7 (note that the numbers are all in base 7) :

$ (1 \times 3) + 1 = 3 + 1 = 4_7 \\
  (4 \times 3) + 2 = 15 + 2 = 20_7 \\
  (20 \times 3) + 0 = 60 + 0 = 60_7 \\
  (60 \times 3) + 1 = 240 + 1 = 241_7 $
  
And the result is: $ 11201_3 = 247_7$ (note that we do not use any intermediate base, such as 10)

To help with manual calculations, we can use addition and multiplication tables, in this case manually created for base 7. 

Addition table with numbers in base number 7:

|00|01|02|03|04|05|06|
|--|--|--|--|--|--|--|
|**01**|02|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|
|**02**|03|04|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|
|**03**|04|05|06|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|
|**04**|05|06|10|11|&nbsp;&nbsp;|&nbsp;&nbsp;|
|**05**|06|10|11|12|13|&nbsp;&nbsp;|
|**06**|10|11|12|13|14|15|

Multiplication table with numbers in base number 7:

|01|02|03|04|05|06|
|--|--|--|--|--|--|
|**02**|04|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|
|**03**|06|12|&nbsp;&nbsp;|&nbsp;&nbsp;|&nbsp;&nbsp;|
|**04**|11|15|22|&nbsp;&nbsp;|&nbsp;&nbsp;|
|**05**|13|21|26|34|&nbsp;&nbsp;|
|**06**|15|24|33|42|51|

## Addition

Let's use an example to demonstrate how the manual calculations above were done. 

For example let's do the manual addition calculation for $456_7 + 623_7$:

      ¹¹
      456
    + 623
    ―――――
     1412

Starting with the rightmost column of the sum, let's add $6_7 + 3_7$. Looking at the addition table, line 6 column 3 the sum is $12_7$. We then place the digit $2$ on the right side of the result and carry the digit $1$.

Now we do the same procedure with the second column on the right ($5_7 + 2_7$) but now considering the carry $1$.

Looking at the addition table, row 5 column 2 the sum is $10_7$. Manually adding $10_7$ with carry $1$ we arrive at $11_7$. Again, we place the digit $1$ on the left side of the result and load $1$.

Once again with $4_7 + 6_7$ on the table it's $13_7$ plus the carry $1$ we arrive at $14_7$. Since there are no more numbers to add, we put $14_7$ on the left side of the result.

## Multiplication

For example, let's multiply $64_7 \times 35_7$ using the base 7:

        ¹
        ²
        64
      x 35
     ―――――
      ¹¹
       446
    + 255
    ――――――
      3326

### First part - multiplication

$64_7 \times 35_7$

Starting with the rightmost column of the multiplication. From the multiplication table: $4_7 \times 5_7 = 26_7$. We put the digit $6$ on the right side of the result and carry $2$.

Now we multiply $6_7 \times 5_7$ and using the table, we find $42_7$. Manually adding the carry $2$ using base 7, we arrive at $44_7$. We put the $44$ on the left side of the result, coming up with $446_7$.

Now let's repeat the process with the digit $3$. Multiplying $3_7 \times 4_7$ using the multiplication table gives us $15_7$. The digit $5$ we put on the right side of the second result, and the carry is $1$ (the carry is on top of the carry $2$).

In the next multiplication $3_7 \times 6_7$, looking at the table we arrive at $24_7$. Adding manually with the carry $1$ we arrive at $25_7$. We put the $25$ on the left side of the result, ending up with $255_7$.

### Second part - addition

$446_7 \times 255_7$

The first digit of the rightmost column $6$ is placed at the bottom right of the addition result.

The sum of the second column from the right $4_7 + 5_7$ using the addition table, is $12_7$. We put the digit $2$ on the left side of the result, and the carry is $1$.

The sum of the next column $4_7 + 5_7$ is $12_7$ and adding manually with the carry $1$ in the number base 7 we arrive at $13_7$. We put the digit $3$ on the left side of the result, and the carry is $1$.

Finally we add the digit $2$ with the carry $1$ and we arrive at $3$ which is placed on the left side. The end result is $3326_7$.

# Implementation

The following code has several limitations as we have tried to make it as simple as possible so that it is relatively easy to understand. Basically the code tries to implement the algorithm described above, which was done manually. There has been no optimization, and the code is not generic, and it is not complete. The code is likely to properly handle only a few cases. Despite this, it is sufficient to run according to the described algorithm. Only the example described in the algorithm above was tested. For the other cases, bugs will most likely be found.

In [105]:
import numpy as np

Routine to count sequentially on a given base (from 2 to 10):

In [116]:
base = 7
for j in range(base):
    for i in range(base):
        print(f"{j}{i}", end=",")

00,01,02,03,04,05,06,10,11,12,13,14,15,16,20,21,22,23,24,25,26,30,31,32,33,34,35,36,40,41,42,43,44,45,46,50,51,52,53,54,55,56,60,61,62,63,64,65,66,

The routine will be used to perform calculations made directly in a specified base, without going through base 10 or another intermediate base.

Now let's add some more features to the routine. We're going to start the sequential count at a certain starting number, and we're going to count sequentially a certain number of times, adding 1 at each step. As an example, the starting number is 51 in base 7, and the routine will count sequentially 20 times:

In [142]:
base = 7
a = 0
b = 5
c = 1
coun = 20

acc = 1
for k in range(a, base):
    for j in range(b, base):
        for i in range(c, base):
            print(f"{k}{j}{i}", end=",")
            acc += 1
            if acc > coun:
                break
        a = b = c = 0
        if acc > coun:
            break
    if acc > coun:
        break
print(f"\nfinal: {k}{j}{i}")

051,052,053,054,055,056,060,061,062,063,064,065,066,100,101,102,103,104,105,106,
final: 106

The numbers above are 20 numbers in base 7, starting with the number 51, counted sequentially.

The routine below counts sequentially from a given starting number, adding 1 at each step, using a given numerical base. In the function below `a`, `b`, `c` are the digits of the starting number of the count. `coun` is the number of sequential counts of the number in `base`. The routine returns the final number of the count that is made in the numeric base. For simplicity, the routine is bounded between bases 2 and 10:

In [144]:
def CounBase(base, a, b, c, coun):
    acc = 1
    for k in range(a, base):
        for j in range(b, base):
            for i in range(c, base):
                acc += 1
                if acc > coun:
                    break
            a = b = c = 0
            if acc > coun:
                break
        if acc > coun:
            break
    return k, j, i

Example: numerical base 7, starting from the number $51_7$ and sequentially counting 15 times. After counting the final number is $101_7$.

In [145]:
a, b, c = CounBase(7, 0, 5, 1, 15)
print(f"{a}{b}{c}")

101

With this routine it is possible to build the following tables:

## Addition table for the base 7

In [153]:
sumtab = np.empty(shape=(7, 7), dtype='<U3')
for j in range(7):
    for i in range(7):
        a, b, c = CounBase(7, 0, 0, i, j + 1)
        sumtab[j][i] = f"{a}{b}{c}"
print(sumtab)

[['000' '001' '002' '003' '004' '005' '006']
 ['001' '002' '003' '004' '005' '006' '010']
 ['002' '003' '004' '005' '006' '010' '011']
 ['003' '004' '005' '006' '010' '011' '012']
 ['004' '005' '006' '010' '011' '012' '013']
 ['005' '006' '010' '011' '012' '013' '014']
 ['006' '010' '011' '012' '013' '014' '015']]

## Multiplication table for the base 7

In [100]:
multab = np.empty(shape=(6, 6), dtype='<U3')
for j in range(6):
    a = b = c = 0
    for i in range(6):
        a, b, c = CounBase(7, a, b, c, j + 2)
        multab[j][i] = f"{a}{b}{c}"
print(multab)

[['001' '002' '003' '004' '005' '006']
 ['002' '004' '006' '011' '013' '015']
 ['003' '006' '012' '015' '021' '024']
 ['004' '011' '015' '022' '026' '033']
 ['005' '013' '021' '026' '034' '042']
 ['006' '015' '024' '033' '042' '051']]

## Addition implementation

Let's use the conversion $456_7 + 623_7$ to illustrate the process. Most of the steps below were already described at the beginning of this work, in the description of the manual solution process using the proposed algorithm, and will not be repeated in the steps below.

In [263]:
n1 = '240'
n2 = '001'

Starting with the last column (col 2):

In [264]:
col = 2

In [265]:
d = sumtab[int(n1[col])][int(n2[col])]
d

'001'

In [266]:
carry = d[1]
result = d[2]
result, carry

('1', '0')

Next column:

In [267]:
col = 1

In [268]:
d = sumtab[int(n1[col])][int(n2[col])]
d

'004'

In [269]:
a, b, c = CounBase(7, 
    int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
d = f"{a}{b}{c}"
d

'004'

In [270]:
carry = d[1]
result = d[2] + result
result, carry

('41', '0')

Next column:

In [271]:
col = 0

In [272]:
d = sumtab[int(n1[col])][int(n2[col])]
d

'002'

In [273]:
a, b, c = CounBase(7, 
    int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
d = f"{a}{b}{c}"
d

'002'

In [279]:
result = str(int(d)) + result
result

'241'

$241_7$ is the same result obtained using the algorithm's manual solution process, described at the beginning of this work.

### Putting all together

The following code condenses the previous code presented, and creates a function that can be called to solve an addition using a numerical base directly, without going through base 10.

In [411]:
def adit(n1, n2, base):
    col = 3
    d = sumtab[int(n1[col])][int(n2[col])]
    carry = d[1]
    result = d[2]
    
    col = 2
    d = sumtab[int(n1[col])][int(n2[col])]
    a, b, c = CounBase(base, 
        int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
    d = f"{a}{b}{c}"
    carry = d[1]
    result = d[2] + result
        
    col = 1
    d = sumtab[int(n1[col])][int(n2[col])]
    a, b, c = CounBase(base, 
        int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
    d = f"{a}{b}{c}"
    carry = d[1]
    result = d[2] + result
    
    col = 0
    d = sumtab[int(n1[col])][int(n2[col])]
    a, b, c = CounBase(base, 
        int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
    d = f"{a}{b}{c}"
    result = d[2:3] + result
    return result

Some tests to verify that it's working as expected:

In [412]:
adit('0456', '0623', 7)

'1412'

In [413]:
adit('0015', '0002', 7)

'0020'

In [414]:
adit('0240', '0001', 7)

'0241'

## Multiplication implementation

Just as addition was implemented, the code below implements multiplication. Again comments that have already been made will not be repeated for the following code. The numbers $60_7$ and $03_7$ are used to illustrate the process.

In [679]:
n1 = '60'
n2 = '03'

In [680]:
col1 = 1
col2 = 1

In [681]:
n1[col1]

'0'

In [682]:
n2[col2]

'3'

The following code snippet checks if the multiplication is by zero, as the multiplication table does not have zero. If it is by zero, the result is direct ($000$), otherwise the conversion function is called.

In [683]:
i = int(n1[col1])-1
j = int(n2[col2])-1
if i<0 or j<0 :
    d = '000'
else:
    d = multab[i][j]
d

'000'

In [684]:
carry = d[1]
result1 = d[2]
result1, carry

('0', '0')

Next column:

In [685]:
col1 = 0

In [686]:
n1[col1]

'6'

In [687]:
n2[col2]

'3'

In [688]:
i = int(n1[col1])-1
j = int(n2[col2])-1
if i<0 or j<0 :
    d = '000'
else:
    d = multab[i][j]
d

'024'

The sum of the carry could be done in other ways, but the option is to simplify and use the function that counts, as it would be done manually. A better implementation would be to use the addition function.

In [689]:
a, b, c = CounBase(7, 
    int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
d = f"{a}{b}{c}"
d

'024'

In [690]:
result1 = d + result1
result1

'0240'

The following lines standardize the number format, as the implemented functions expect numbers in this format.

In [691]:
result1 = '000' + result1

In [692]:
result1 = result1[-4:]

In [693]:
result1

'0240'

The intermediate result is $240_7$.

###  Multiplication using the second digit

In [694]:
col1 = 1
col2 = 0

In [695]:
n1[col1]

'0'

In [696]:
n2[col2]

'0'

In [697]:
i = int(n1[col1])-1
j = int(n2[col2])-1
if i<0 or j<0 :
    d = '000'
else:
    d = multab[i][j]
d

'000'

In [698]:
carry = d[1]
result2 = d[2]
result2, carry

('0', '0')

Next column:

In [699]:
col1 = 0

In [700]:
n1[col1]

'6'

In [701]:
n2[col2]

'0'

In [702]:
i = int(n1[col1])-1
j = int(n2[col2])-1
if i<0 or j<0 :
    d = '000'
else:
    d = multab[i][j]
d

'000'

In [703]:
a, b, c = CounBase(7, 
    int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
d = f"{a}{b}{c}"
d

'000'

In [704]:
result2 = d + result2
result2

'0000'

In [705]:
result2 = '000' + result2 + '0'

In [706]:
result2 = result2[-4:]

In [707]:
result2

'0000'

### Second part: addition

In [708]:
result1, result2

('0240', '0000')

In [709]:
adit(result1, result2, 7)

'0240'

The number $240_7$ is the expected result.

### Putting all together

In [675]:
def mult(n1, n2, base):
    col1 = 1
    col2 = 1
    i = int(n1[col1])-1
    j = int(n2[col2])-1
    if i<0 or j<0 :
        d = '000'
    else:
        d = multab[i][j]
    carry = d[1]
    result1 = d[2]
    # Next column
    col1 = 0
    i = int(n1[col1])-1
    j = int(n2[col2])-1
    if i<0 or j<0 :
        d = '000'
    else:
        d = multab[i][j]
    a, b, c = CounBase(base, 
    int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
    d = f"{a}{b}{c}"
    result1 = '000' + d + result1
    # Multiplication using the second digit
    col1 = 1
    col2 = 0
    i = int(n1[col1])-1
    j = int(n2[col2])-1
    if i<0 or j<0 :
        d = '000'
    else:
        d = multab[i][j]
    carry = d[1]
    result2 = d[2]
    # Next column
    col1 = 0
    i = int(n1[col1])-1
    j = int(n2[col2])-1
    if i<0 or j<0 :
        d = '000'
    else:
        d = multab[i][j]
    a, b, c = CounBase(base, 
    int(d[0]), int(d[1]), int(d[2]), int(carry)+1)
    d = f"{a}{b}{c}"
    result2 = '000' + d + result2 + '0'
    return adit(result1[-4:], result2[-4:], 7)

Some tests to verify that it's working as expected:

In [676]:
mult('64', '35', 7)

'3326'

In [677]:
mult('60', '03', 7)

'0240'

In [678]:
mult('20', '03', 7)

'0060'

## Conversion

Testing the implementation.

Let's convert $11201_3$ in base 3 to the same number in base 7, using the implementation.

$((((1 \times 3 + 1) \times 3 + 2) \times 3 + 0) \times 3 + 1)$

In [733]:
BaseSour='03'
BaseDest=7

In [734]:
a = mult('01', BaseSour, BaseDest)
a

'0003'

In [735]:
result = adit('0001', a, BaseDest)
result

'0004'

In [736]:
a = mult(result[-2:], BaseSour, BaseDest)
a

'0015'

In [737]:
result = adit('0002', a, BaseDest)
result

'0020'

In [738]:
a = mult(result[-2:], BaseSour, BaseDest)
a

'0060'

In [739]:
result = adit('0000', a, BaseDest)
result

'0060'

In [740]:
a = mult(result[-2:], BaseSour, BaseDest)
a

'0240'

In [741]:
result = adit('0001', a, BaseDest)
result

'0241'

The conversion result is $241_7$.

$11201_3 = 241_7$

From this point on, it would be possible to create a routine to further automate the process, but what has been done so far is already enough to demonstrate the implementation and obtain the same result done manually.

# Conclusion

This work sought to show a way to convert from a numbering base to another numbering base, directly without going through the numbering base 10 or another intermediary. The conversion is made directly from the source base to the destination base, solving the equations using the destination base. For this, additions and multiplications are done directly in the target base. In the manual process, addition and multiplication tables are used to facilitate the calculation. In the implementation, the same tables are created automatically, as the implementation tries to be as close as possible to the original algorithm.

To illustrate the process, a number in base 3 was chosen to be converted to base 7, and it was solved using the manual process, and also using the implementation in code, trying to keep the same algorithm, but trying to simplify the implementation as much as possible. . The consequence of this simplification is that the code has a number of limitations. Despite this, the code is able to solve the problem presented and convert the base number 3 to 7, as was done in the manual process.

As future work, it would be interesting to improve the implementation to try to make it as generic as possible, and solve a larger number of problems with a broader number of possible bases.

# References

- RUGGIERO, M. A. G.; LOPES, V. L. D. R. Cálculo numérico: aspectos teóricos e computacionais. [S. l.]: Pearson Makron Books, 1996. vol. 1, .
- SIMÕES, A. da S. Conversões entre Sistemas. Códigos. Circuitos Digitais I. [S. l.]: UNESP, 2011.
- [STACKEXCHANGE. The math behind converting from any base to any base without going through base 10.](https://cs.stackexchange.com/questions/10318/the-math-behind-converting-from-any-base-to-any-base-without-going-through-base)
- [HCCMATHHELP. Addition in Bases other than Base-10.](https://youtu.be/U-19aiF2pbg)
- [HCCMATHHELP. Multiplication in Bases other than Base-10.](https://youtu.be/7rb6ewezE3k)